APP_NAME="Catraca Stock Control"

MYSQL_HOST=catraca_stock_mysql
MYSQL_USERNAME=catraca
MYSQL_PASSWORD=catraca
MYSQL_DATABASE=catraca_stock

DATABASE_TYPE=mysql
DATABASE_URL="mysql://catraca:catraca@catraca_stock_mysql:3306/catraca_stock"
BASE_URL="http://localhost:3000"